@import "tailwindcss";

/* Base defaults to pair nicely with Tailwind */
:root {
  color-scheme: light;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(180deg, rgba(236,253,245,1) 0%, rgba(240,249,255,1) 100%);
  background-attachment: fixed;
}
